<% messages.each do |message| %>
    <div>
      <strong><%= message.user.name %>:</strong> <%= message.content %>
      <%= render partial: "messages/message_thread", locals: { messages: message.replies } %> if message.replies.any?
    </div>
  <% end %>
  