<%= render "form", subject: @subject %>

<br>

<div>
<%= link_to subject_path(@subject), class: "back-to-subjects-link", aria_label: "Back to subjects" do %>
  <i class="fas fa-arrow-left"></i> <!-- Icône de flèche gauche -->
<% end %>
</div>
